BODY {
	FONT-SIZE: 100%
}
P {
	FONT-SIZE: 100%
}
BLOCKQUOTE {
	FONT-SIZE: 100%
}
TABLE {
	FONT-SIZE: 100%
}
TD {
	FONT-SIZE: 100%
}
TH {
	FONT-SIZE: 100%
}
LI {
	FONT-SIZE: 100%
}
A {
	FONT-SIZE: 100%
}
UL {
	FONT-SIZE: 100%
}
OL {
	FONT-SIZE: 100%
}
INPUT {
	FONT-SIZE: 100%
}
DD {
	FONT-SIZE: 100%
}
DL {
	FONT-SIZE: 100%
}
DT {
	FONT-SIZE: 100%
}
FORM {
	FONT-SIZE: 100%
}
INPUT {
	FONT-SIZE: 100%
}
BUTTON {
	FONT-SIZE: 100%
}
TEXTAREA {
	FONT-SIZE: 100%
}
SELECT {
	FONT-SIZE: 100%
}
OPTION {
	FONT-SIZE: 100%
}
FIELDSET {
	FONT-SIZE: 100%
}
LABEL {
	FONT-SIZE: 100%
}
SELECT {
	FONT-SIZE: 100%
}
INPUT {
	FONT-SIZE: 100%
}
TEXTAREA {
	FONT-SIZE: 100%
}
CODE {
	FONT-SIZE: 100%
}
CODE SPAN {
	FONT-SIZE: 100%
}
BODY {
	FONT-SIZE: 80%
}
.fontSize200 {
	FONT-SIZE: 200%
}
.fontSize195 {
	FONT-SIZE: 195%
}
.fontSize190 {
	FONT-SIZE: 190%
}
.fontSize185 {
	FONT-SIZE: 185%
}
.fontSize180 {
	FONT-SIZE: 180%
}
.fontSize175 {
	FONT-SIZE: 175%
}
.fontSize170 {
	FONT-SIZE: 170%
}
.fontSize165 {
	FONT-SIZE: 165%
}
H1 {
	FONT-SIZE: 160%
}
.h1Size {
	FONT-SIZE: 160%
}
.fontSize160 {
	FONT-SIZE: 160%
}
.fontSize155 {
	FONT-SIZE: 155%
}
H2 {
	FONT-SIZE: 150%
}
.h2Size {
	FONT-SIZE: 150%
}
.fontSize150 {
	FONT-SIZE: 150%
}
.fontSize145 {
	FONT-SIZE: 145%
}
H3 {
	FONT-SIZE: 140%
}
.big {
	FONT-SIZE: 140%
}
.h3Size {
	FONT-SIZE: 140%
}
.fontSize140 {
	FONT-SIZE: 140%
}
.fontSize135 {
	FONT-SIZE: 135%
}
H4 {
	FONT-SIZE: 130%
}
.h4Size {
	FONT-SIZE: 130%
}
.fontSize130 {
	FONT-SIZE: 130%
}
.fontSize125 {
	FONT-SIZE: 125%
}
H5 {
	FONT-SIZE: 120%
}
.h5Size {
	FONT-SIZE: 120%
}
.fontSize120 {
	FONT-SIZE: 120%
}
.fontSize115 {
	FONT-SIZE: 115%
}
H6 {
	FONT-SIZE: 110%
}
.h6Size {
	FONT-SIZE: 110%
}
.fontSize110 {
	FONT-SIZE: 110%
}
H1.headline {
	FONT-SIZE: 110%
}
H2.headline {
	FONT-SIZE: 110%
}
H3.headline {
	FONT-SIZE: 110%
}
H4.headline {
	FONT-SIZE: 110%
}
H5.headline {
	FONT-SIZE: 110%
}
H6.headline {
	FONT-SIZE: 110%
}
.fontSize105 {
	FONT-SIZE: 105%
}
.fontSize100 {
	FONT-SIZE: 100%
}
.topPage {
	FONT-SIZE: 100%
}
.fontSize95 {
	FONT-SIZE: 95%
}
.fontSize90 {
	FONT-SIZE: 90%
}
.mediumFont {
	FONT-SIZE: 85%
}
.fontSize85 {
	FONT-SIZE: 85%
}
.fontSize80 {
	FONT-SIZE: 80%
}
.smallFont {
	FONT-SIZE: 75%
}
.fontSize75 {
	FONT-SIZE: 75%
}
.fontSize70 {
	FONT-SIZE: 70%
}
DIV.banner P.main {
	FONT-SIZE: 185%
}
DIV.banner P.siteuri {
	FONT-SIZE: 110%
}
LI.fiptext {
	FONT-SIZE: 100%
}
LI.fiptexta {
	FONT-SIZE: 100%
}
LI.fiptextb {
	FONT-SIZE: 100%
}
LI.fiptextc {
	FONT-SIZE: 100%
}
P.breadcrumb {
	FONT-SIZE: 95%
}
H2.nav {
	FONT-SIZE: 100%
}
DIV.nav {
	FONT-SIZE: 100%
}
P.nav {
	FONT-SIZE: 100%
}
LI.menucontent {
	FONT-SIZE: 100%
}
DIV.menucontent {
	FONT-SIZE: 100%
}
LI.menucontent {
	FONT-SIZE: 100%
}
LI.menucontent LI {
	FONT-SIZE: 100%
}
LI.menucontent {
	FONT-SIZE: 100%
}
LI.menucontent LI {
	FONT-SIZE: 100%
}
DIV.footer {
	FONT-SIZE: 100%
}
.doubleLineSpace {
	LINE-HEIGHT: 200%
}
